.visually-hidden{
  position: absolute!important; width: 1px!important; height: 1px!important; padding: 0!important; margin: -1px!important; overflow: hidden!important; clip: rect(0,0,0,0)!important; white-space: nowrap!important; border: 0!important;
}

.font-size-13{font-size: 13px !important;}

.text-start { text-align: left !important; }
.text-end { text-align: right !important; }
.text-center { text-align: center !important; }

.text-underline{text-decoration: underline !important;}

.position-static { position: static !important; }
.position-relative { position: relative !important; }
.position-absolute { position: absolute !important; }

.display-none {display: none !important;}

.opacity-0{opacity: 0 !important;}

.overflow-visible{overflow: visible !important;}

.gap-10{gap: 10px !important;}

.w-auto { width: auto !important; }
.w-100 { width: 100% !important; }
.h-auto { height: auto !important; }
.h-100 { height: 100% !important; }

.border{border: 1px solid $BORDER_COLOR;}
.border-0{border: 0 !important;}
.border-2{border-width: 2px !important;}

.m-t-4 { margin-top: 4px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-25 { margin-top: 25px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-40 { margin-top: 40px !important; }
.m-t-50 { margin-top: 50px !important; }
.m-t-60 { margin-top: 60px !important; }

.m-s-10 { margin-left: 10px !important; }

.m-b-5 { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-30 { margin-bottom: 30px !important; }

.collapse{
  &:not(.show){display: none;}
}

@mixin text-variant($color) {
  color: $color !important;
}
@mixin bg-variant($color) {
  background-color: $color !important;
}
@mixin border-variant($color) {
  border-color: $color !important;
}
@each $color, $value in $THEME_COLORS {
  .text-#{$color} {
    @include text-variant($value);
  }
  .bg-#{$color} {
    @include bg-variant($value);
  }
  .border-#{$color} {
    @include border-variant($value);
  }
}