html,
body{width: 100%;height: 100%;}
body{overflow-x: hidden;}

#wrap{max-width: 768px;margin: 0 auto;height: 100%;display: flex;flex-direction: column;}

#header{
    flex: 0 0 50px;
}

#container{height: 100%;flex-grow: 0;}

#main{height: 100%;padding-left: 30px;padding-right: 30px;padding-top: 30px;width: 100%;}

.page-title{font-size: 18px;line-height: 50px;margin-bottom: 0;text-align: center;padding: 0 40px;}
.btn-back{position: absolute;left: 0;top: 50%;transform: translateY(-50%);}

.bottom{
    padding-top: 30px;
    padding-bottom: 15px;
    padding-bottom: calc(constant(safe-area-inset-bottom) + 15px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 15px);
}

.container,
.container-fluid{padding-left: 1.875rem;padding-right: 1.875rem;}