#main.first{
  padding: 0;height: 100%;background: $PRIMARY_COLOR;
}

.login-wrap{
    background: $PRIMARY_COLOR;min-height: 100%;padding:0 35px 55px;position: relative;display: flex;flex-direction: column;justify-content: center;
    @media (max-width: 320px) {
      padding:0 20px 55px;
    }
    @media (max-height: 540px) {
      padding: 15px 15px 55px;
    }
  }
.login-copyright{
  color: #fff;font-size: 13px;letter-spacing: -0.5px;text-align: center;position: absolute;left: 0;bottom: 35px;width: 100%;
  @media (max-width: 320px) {
    font-size: 11px;
  }
  @media (max-height: 540px) {
    font-size: 11px;bottom: 15px;
  }
}

.login-logo{
  text-align: center;
  @media (max-height: 540px) {
    img{width: 140px;}
  }
}

.login-type{
    margin-top: 63px;display: flex;flex-direction: column;justify-content: center;align-items: center;
    .btn{
      position: relative;max-width: 300px;
      @media (max-width: 320px) {
        font-size: 15px;padding-left: 3rem;
      }
    }
    i[class^=icon]{position: absolute;left: 10px;top: 50%;transform: translateY(-50%);}
    .tip{
        background: #ffee00;font-size: 13px;color: #312227;padding: 5px 15px;border-radius: 10px; position: absolute;left: 5px;top: -43px;
        &::before{content: '';width: 0;height: 0;border-style: solid;border-width: 10px 6px 0 6px;border-color: #ffee00 transparent transparent transparent;position: absolute;left: 19px;bottom: -10px;}
    }
}
