<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>
    <div id="wrap">

        @@include('@@webRoot/_include/_header.html', {
            "title": "Day 4 교육자료",
        })
        <div id="container">
            <main id="main">

                <!-- 실컨텐츠 -->
                <div class="has-bottom-button">
                    <div class="flex-grow-1">
                        <article class="contents">
                          <span class="badge bg-primary">필수</span>
                          <h2 class="title">초심(Beginner’s mind) 과 <br>판단하지 않기</h2>
                          <section>
                            <strong class="keyword text-center">“ 태도 (attitude) ”</strong>
                            <div class="keyword-desc text-center">마음챙김 명상의 주요 요소</div>
                            <div class="paragraph">
                              마음챙김 명상은 단순히 기계적으로 반복하면 되는 명상 테크닉이나 기법이 아닙니다. 지금 이 순간에 주의를 기울일 때, 어떠한 태도로 하는가에 따라 마음챙김의 quality가 결정이 됩니다. 의도와 주의가 마음챙김의 뼈대에 해당한다면, 태도가 “살”에 해당된다고 비유가 될 정도로, 마음챙김에서 중요한 역할을 하고 있고, 태도와 관련이 있기 때문에 한순간에 변화하기가 쉽지 않은 부분이 될 수도 있습니다.
                            </div>
                            <div class="paragraph">
                              존 카밧진은 본인의 저서 [마음챙김 명상과 자기 치유]에서 <span class="text-primary">마음챙김 명상의 태도를 총 9가지 기술합니다.</span>
                            </div>
                            <div class="paragraph">
                              그 중에 가장 대표적인 것이 다음의 2가지 태도입니다.
                            </div>
                          </section>
                          <section>
                            <div class="paragraph">마음챙김 명상의 9가지 태도 중 핵심 2가지</div>
                            <h3 class="title-number text-primary"><em>1</em>“처음처럼” (Beginner’s mind, 초심,
                              Open minded)</h3>
                            <div class="image">
                              <img src="../assets/images/@template1-1.png" alt="">
                            </div>
                            <div class="paragraph">
                              ‘지금 이 순간’ 경험의 풍요로움은 곧 인생 자체의 풍요로움이다. 우리는 이미 ‘알고 있다’는 생각이 믿음에 빠져 진정 사물의 본 모습을 보지 못하는 경우가 자주 있다. 우리는 범상한 것을 당연한 것으로 받아들여 범상한 것의 비범함의 느끼지 못한다. 지금 이 순간의 풍요를 느끼기 위해서는 소위 ‘초심’을 간직해야 한다.
                            </div>
                            <div class="paragraph">
                              초심자의 열린 마음은 새로운 가능성을 수용할 수 있고, 익숙한 습관이나 태도로부터 벗어날 수 있게 해 준다. 같은 순간은 두 번 찾아오지 않으며, 매 순간은 새롭고, 특별하며, 새로운 변화의 가능성을 내포하고 있다. 초심은 바로 이러한 어쩌면 당연한 진리를 일깨워준다.
                            </div>
                            <div class="paragraph">
                              일상 생활에서도 초심을 키우는 연습을 할 수 있다. 예컨대, 당신이 전부터 잘 알고 있는 어떤 사람을 만났을 때 완전히 새로운 시각으로 그 사람을 있는 그대로 보고 있는지, 아니면 그 사람에 대해 이미 가지고 있는 당신의 생각과 경험의 상으로 보고 있는지 스스로에게 질문할 수 있다.
                            </div>
                            <div class="paragraph">
                              이러한 질문 방식을 만나는 모든 존재에게 적용해 볼 수 있다. 당신은 지금 이 순간 무엇을 보고 있는가? 익숙하고, 변함없고, 아무런 감흥 없는 세상을 만나고 있나요? 아니면 새롭고, 흥미롭고, 호기심으로 새로운 변화에 가슴 뛰는 가슴으로 세상을 만나고 있나요?
                            </div>
                            <h4 class="title-paint"><i class="icon-template-research"></i>Research &amp; Story</h4>
                            <div class="paragraph">노인들이 젊은 시절로 되돌아갔다는 생각으로 산다면 어떤 일이?</div>
                            <strong class="keyword">하버드  “시계 거꾸로 돌리기 연구” </strong>
                            <div class="image">
                              <img src="../assets/images/@template1-2.png" alt="">
                            </div>
                            <div class="paragraph">
                              앨런 랭어의 늙는다는 착각(Counter clockwise, 2022)에서 하버드대학 심리학과의 앨랜 랭어 교수가 1979년 진행한 실험 “시계 거꾸로 돌리기 연구 (Counter clockwise)”에서 노인 x명을 초대해서, 주변 환경을 20년 전으로 되돌려 놓은 생활 환경 속에 일주일 동안 살게 하고, 그 당시 젊게 행동할 것을 요구하였습니다. 참가한 노인들은 마치 20년으로 되돌아간 것처럼 생활했는데, 당시 유행했던 노래를 듣고, TV 프로그램을 시청하면서, 20년전 상황을 ‘현재형’으로 표현하면서 시간을 보냈습니다.
                            </div>
                            <div class="paragraph">
                              또한 집안 일을 직접하는 것이었는데, 처음엔 잘 걷기도 힘들어하던 노인들은 집안 일을 해냈습니다. 그렇게 생활한 지 일주일 후에 어떤 일이 벌어졌을까요? 그 결과가 놀라웠습니다. 일단, 참가한 노인들의 신체 기능이 좋아졌습니다. 시력, 청력이 향상되고, 신체나이가 50대 수준으로 향상되기도 했지요. 신체 뿐 아니라, 기억력과 같은 정신 기능도 향상되었습니다.
                            </div>
                            <div class="paragraph">
                              한국에서도 2013년 EBS 다큐프라임 ‘황혼의 반란’에서 비슷한 실험을 진행하고, 동일한 결과를 얻었습니다.
                            </div>
                          </section>
                          <section>
                            <strong class="keyword text-center">“ Not Knowing (알지못함) ”의 지혜</strong>
                            <div class="image">
                              <img src="../assets/images/@template1-3.png" alt="">
                            </div>
                            <div class="paragraph">
                              지금 이 순간 우리가 무엇을 알고 있나요? 매 순간 새롭고 신선하게 경험되는 현재 지금 이순간을 어떻게 만나고 있나요? 이미 알고 있다는 생각으로 지루하고, 흥미 없게 느끼고 있지는 않은가요? 지금 이 순간을 과거에 경험해 본 적 있나요? 새롭게 펼쳐지는 지금 이 순간에 대해 우리가 알고 있는 것은 무엇인가요? 새롭게 펼쳐지는 지금 이 순간을 호기심과 관심을 가지고 경험한다는 어떤 경험을 하게 되나요?
                            </div>
                            <div class="paragraph">
                              호기심을 가지고 열린 마음으로 접할 때, 나는 무엇을 알고 있나요? 초심은 이렇게 ‘알지 못함’에 열려 있을 때 느낄 수 있는 내용입니다. 본 마음챙김 명상 프로그램의 모태가 되는 MBSR에서는 마음챙김 수련을 할 때 다음과 같은 주요한 태도를 강조한다. 이러한 태도는 서로 독립적이라기보다는 상호의존적이다. 따라서, 한 태도를 잘 길러나가면, 다른 태도가 저절로 길러질 수 있습니다.
                            </div>
                            <h3 class="title-number text-primary m-t-60"><em>2</em>“비판단”</h3>
                            <div class="image">
                              <img src="../assets/images/@template1-4.png" alt="">
                            </div>
                            <div class="paragraph">
                              마음챙김은 당신의 생각과 견해, 좋음과 싫음에 사로잡히지 않으면서 최선을 다해 순간순간의 경험에 긴밀한 주의를 기를 수 있고, 이러한 훈련은 대상을 우리 자신의 오랜 시간 경험과 문화 속에서 가지게 된 왜곡된 렌즈와 생각을 통해 보지 않고, 있는 그대로 볼 수 있게 한다.
                            </div>
                            <div class="paragraph">
                              이렇게 하기 위해서는 언제나 체험하는 안팎 경험에 대해 늘 판단하여 반응하고 있다는 사실을 알아차리고, 판단에서 한발짝 뒤로 물러나는 것을 배워야 한다. 비판단은 무의식적이고 자동적으로 판단하려는 경향을 알아차리고, 판단을 내려 놓고, 있는 그대로 알아차림을 의미한다.
                            </div>
                            <h4 class="title-paint"><i class="icon-template-check"></i>이것만은 꼭 기억해요! </h4>
                            <strong class="keyword">“처음처럼(초심)”의 태도</strong>
                            <div class="paragraph m-t-10">“비판단”의 태도</div>
                            <strong class="keyword">“처음처럼(초심)”의 태도</strong>
                            <div class="paragraph m-t-10">지금 이 순간 내가 직접 경험하는 것에 대해서 우리는 “알지못함”의 태도로, 판단하지 않고 알아차립니다. </div>
                          </section>
                        </article>
                    </div>
                    <div class="bottom-btn-area pt-0">
                      <div class="d-grid gap-10">
                        <button class="btn btn-primary" type="button">다음 여정으로 가기</button>
                    </div>
                    </div>
                </div>
                <!-- //실컨텐츠 -->

            </main>
        </div>

    </div>
    @@include('@@webRoot/_include/_modal.html')
</body>

</html>