<!DOCTYPE html>
<html lang="ko">

<head>
    @@include('@@webRoot/_include/_head.html')
</head>

<body>
    <div id="wrap">

        @@include('@@webRoot/_include/_header.html', {
            "title": "Day 6 교육자료",
        })
        <div id="container">
            <main id="main">

                <!-- 실컨텐츠 -->
                <div class="d-flex flex-column h-100">
                    <div class="flex-grow-1">
                        <article class="contents">
                          <span class="badge bg-primary">필수</span>
                          <h2 class="title">호흡 알아차림</h2>
                          <section>
                            <h4 class="title-paint m-t-30"><i class="icon-template-pencil"></i>궁금해요! (자주 묻는 질문)</h4>
                            <strong class="keyword m-t-20">명상할 시간을 내기가 어렵습니다.</strong>
                            <div class="paragraph">
                              현대에 사는 많은 분들이 너무 바쁜 나머지 작은 짬을 내기도 어려운 상황이라는 것에 충분히 공감합니다. 그리고 많은 분들이 마치 운동처럼, 좋은 거는 알겠는데, 할 시간이 없어라고 말하는 경우가 있지요.
                            </div>
                            <div class="paragraph">
                              하지만, 바쁜 일상 속에서도 명상이 일상을 좀 더 효율적이고, 건강하게 도움을 준다면 오히려 지금 바쁜 일상을 도와줄 수 있다면 시작해 볼 수 있지 않을까요? 명상을 통해 집중력을 높여서, 1시간에 할 일은 45분만에 마칠 수 있다면, 5분~10분 정도는 명상에 할애할 수 있지 않을까요?
                            </div>
                            <div class="paragraph">
                              처음엔 좀 어색하고, 즉각적으로 효과를 느끼지 못할 수 있지만 작은 시간이지만 프로그램에 매일 참여해서, 꾸준히 명상을 실천한다면 머지않아 하루 중 가장 먼저 소중하게 실천할 핵심 습관이 될 수 있을 거에요 ^^
                            </div>
                          </section>
                        </article>
                    </div>
                    <div class="bottom-btn-area pt-0">
                      <div class="d-grid gap-10">
                        <button class="btn btn-primary" type="button">다음 여정으로 가기</button>
                    </div>
                    </div>
                </div>
                <!-- //실컨텐츠 -->

            </main>
        </div>

    </div>
    @@include('@@webRoot/_include/_modal.html')
</body>

</html>