.modal {
  position: fixed; top: 0; left: 0; z-index: $Z_INDEX_MODAL; display: none; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; outline: 0;
  &.show{display: flex;}
}

.modal-dialog {
  position: relative; width: auto; pointer-events: none; display: flex; align-items: center; min-height: calc(100% - 1rem); margin: 0 auto;
  .modal.show & { transform: none; }
}

.modal-content { position: relative; display: flex; flex-direction: column; width: 100%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 10px; outline: 0; max-height: 100%; overflow: hidden; }

.modal-backdrop {
  position: fixed; top: 0; left: 0; z-index: -1; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.7);
}

.modal-header {
  position: relative; display: flex; flex-shrink: 0; align-items: center; justify-content: center; padding: 12px 30px;
  border-top-left-radius: calc(0.625rem - 1px);
  border-top-right-radius: calc(0.625rem - 1px);
  @media(max-width:320px) {
    padding-top: 14px;
  }
  .btn-close {
    position: absolute; right: 30px; top: 50%; transform: translateY(-50%);
    @media(max-width:320px) {
      right: 10px; background-size: 1.5rem;
    }
  }
}

.modal-title {
  margin-bottom: 0; line-height: 1.44; font-size: 18px; font-weight: 400;
  @media(max-width:320px) {
    font-size: 16px; line-height: 1.3;
  }
}

.modal-body {
  position: relative; flex: 1 1 auto; padding: 30px;
  @media(max-width:320px) {
    padding-left: 15px; padding-right: 15px;
  }
}

.modal-footer {
  padding: 15px 30px;
  border-bottom-right-radius: calc(0.625rem - 1px);
  border-bottom-left-radius: calc(0.625rem - 1px);
  @media(max-width:320px) {
    padding-left: 15px; padding-right: 15px;
  }
}

.modal.fullscreen {
  width: 100vw; max-width: none; height: 100%; margin: 0;
  .modal-dialog{width: 100%;}
  .modal-content { height: 100%; border: 0; border-radius: 0; }
  .modal-header { border-radius: 0; }
  .modal-body { overflow-y: auto;height: calc(100% - 1rem); }
  .modal-footer { border-radius: 0; }
}

.modal.alert {
  .modal-dialog {
    max-width: 315px; margin: 0 auto;width: 100%;
    @media(max-width:320px) {
      max-width: 250px;
    }
  }
  .modal-body { padding-top: 40px; padding-bottom: 20px; }
  .modal-footer {
    padding: 0;
    .btn { border-color: transparent !important; background: transparent !important; }
  }
}

.modal.slide-up {
  width: 100vw; margin: 0;height: 100%;align-items: flex-end;
  .modal-dialog { margin: 0; max-width: 100%;width: 100%;overflow: visible;align-items: flex-end;}
  .modal-content {
    background: transparent; opacity: 0; transform: translateY(50px); transition: all .35s; border: 0;border-radius: 30px 30px 0 0;max-height: 100vh;overflow: auto;
  }
  .modal-body {
    $padding-bottom: 10px;
    border-radius: 30px 30px 0 0; background: #fff; flex: 0 0 auto;
    padding: 40px 20px $padding-bottom;
    padding-bottom: calc(constant(safe-area-inset-bottom) + $padding-bottom);
    padding-bottom: calc(env(safe-area-inset-bottom) + $padding-bottom);

    @media(max-width:320px) {
      padding-left: 15px; padding-right: 15px;
    }
  }
  .modal-footer{background: #fff;}
  .modal-overflow-y-auto{
    overflow-x: hidden;
    max-height: calc(100% - 40px);overflow: auto;
  }
  &.show {
    .modal-content { opacity: 1; transform: translateY(0); }
  }
}

.modal.normal{
  .modal-header{
    .btn-close{right: 20px;}
  }
  .modal-content{max-width: 315px;width: 100%;margin: 30px auto;}
  .modal-body{padding: 10px 20px;}
  .modal-overflow-y-auto{
    overflow-x: hidden;
    max-height: calc(100vh - 190px);overflow: auto;
  }
  .modal-footer {
    padding: 0;
    .btn { border-color: transparent !important; background: transparent !important; }
  }
  .notice-title{margin-bottom: 10px;font-size: 18px;letter-spacing: -.72px;text-align: center;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;max-height:2.8em;}
  .notice-desc{font-size: 15px;letter-spacing: -0.9px}
}

.alert-text {
  text-align: center; font-size: .9375rem; letter-spacing: -0.9px; word-break: keep-all;
}